:root {
  --primary: #f9fcff;
}

* {
  margin: 0;
  padding: 0;
}

img {
  width: auto;
  max-height: 100vh;
}

html {
  background-color: #f9fcff;
}

/* FONTS */

h1 {
  font-family: "june-expt-variable", sans-serif;
  font-variation-settings: "STYL" 100;
  font-size: 4rem;
  color: var(--primary);
}

h2 {
  font-family: "Roboto", sans-serif;
  font-size: medium;
  font-weight: 300;
  padding-top: 2rem;
  padding-bottom: 0.5rem;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-size: small;
  font-weight: 300;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  max-width: 55ch;
  line-height: 1.5;
}

li {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  list-style: none;
  line-height: 1.5;
  font-size: small;
}

a {
  font-family: "Roboto", sans-serif;
  color: black;
  text-decoration: none;
  line-height: 2rem;
}

a:hover {
  color: red;
  text-decoration: underline;
}

/* MENU */

header {
  display: flex;
  padding: 20px;
  position: absolute;
  background-color: transparent;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.menu li {
  list-style: none;
  margin-bottom: 10px;
}

/* .menu a {
  font-family: "Poiret One";
  color: black;
  text-decoration: none;
}

.menu a:hover {
  color: grey;
  text-decoration: underline;
} */

/* burger design */

.burger {
  width: 25px;
  height: 20px;
  cursor: pointer;
  display: none;
  z-index: 3000;
}

.burger .line {
  width: 100%;
  height: 2px;
  background-color: black;
  transition: background-color 0.3s;
  margin-bottom: 5px;
}

/* MOBIL BURGER */
@media screen and (max-width: 600px) {
  .menu {
    display: none;
  }
  .burger {
    display: block;
  }

  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
    background-color: black;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
    background-color: black;
  }

  nav.active .menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: white;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  nav.active .menu a {
    display: block;
    color: black;
  }
}

/* MOBIL GENERELT */
.herosection {
  position: relative;
  z-index: 0;
}

.hero_content {
  position: absolute;
  top: 85%;
  left: 2%;
}

main {
  margin: 3rem;
}

.intro {
  padding-top: 2rem;
}

.tools {
  padding-top: 4rem;
  margin-bottom: 4rem;
}
.box_1 {
  margin-bottom: 2rem;
}

.showcase {
  padding-top: 4rem;
}

.showcase li {
  font-size: medium;
  text-decoration: underline;
}

/* DESKTOP */

@media (min-width: 600px) {
  body {
    display: flex;
    flex-direction: row;
  }

  main {
    width: 50vw;
    margin: 6rem;
    padding: 14rem 6rem 6rem;
  }

  .herosection {
    position: fixed;
    right: 0;
    top: 0;
  }

  .herosection h1 {
    font-size: 5rem;
  }

  .intro,
  .showcase,
  .tools {
    margin-bottom: 7rem;
  }

  /* .intro {
    display: flex;
    justify-content: space-around;
  } */

  /* .herosection {
    position: sticky;
      top: 0;
    right: 0; 
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }*/

  footer {
    /* width: 50vw;
    position: relative; */
    /* left: 0;
    bottom: 0; */
    width: 50vw;
    background-color: var(--primary);
  }
}

/* Animation */

.fade-in {
  opacity: 0;
  transform: translateX(30px);
  transition: opacity 1.2s ease, transform 1.2s ease;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}
